
.form-box{
    background-color:rgba(236, 228, 231, 0.5);
    padding: 50px;
    border-radius: 20px;
    transition:  1s;
}
.form-box:hover{
    background-color: rgb(215, 227, 236);   
}
.reviews-btn{
    text-align: center;
 margin-top: 20px;

}
.form-box .Text-input{
    margin-top: 20px;
}
.table-wrapper{
    padding: 100px;
}
.main-div{
    background-image: url("https://img.freepik.com/premium-photo/blank-yellow-sticky-note-pencil-navy-blue-table-background_7189-3543.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    margin-top: 0px;
}
.form-heading{
    text-align: center;
    color :aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.table-main{
    height: 400;
    margin-left: 100px;
    width: 80%;
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/white-background-gradient-modern-abstract-design-wave_343694-2337.jpg?w=826&t=st=1692353510~exp=1692354110~hmac=4dc468335bcd80f2acf9e522bc7a2b7968504ba040a6b59c984637b5ad63daad");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.err{
    color: red;
}